@media (max-width: 1240px) {
  .paiement.paiement-form {
    .form {
      &-field {
        &:not(&.form-field__checkboxes) {
          flex-direction: column;
        }

        &__label {
          width: 100%;
          margin: 0 0 5px;
        }

        &__input,
        &__textarea {
          max-width: 100%;
        }

        &__checkboxes {
          .form-field__label {
            width: max-content;
            margin: 0 15px 0 0;
          }
        }

        &__checkbox {
          label {
            padding-left: 30px;
          }

          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }

      &--file {
        grid-template-columns: 1fr max-content;
        grid-gap: 20px;

        .form-files {
          justify-content: center;
          grid-gap: 20px;
        }
      }
    }
  }
}
