@media (max-width: 1390px) {
  .delivery .form-field {
    width: max-content;

    &__label {
      width: 210px;
      font-size: 13px;
    }
  }
}

@media (max-width: 1340px) {
  .delivery .form-items {
    grid-template-columns: repeat(2, 450px);
  }

  .form-field__checkbox label {
    font-size: 14px;
  }

  .delivery .form-field__label {
    width: 170px;
  }
}

@media (max-width: 1260px) {
  .delivery .form-items {
    grid-template-columns: repeat(2, 368px);
  }

  .delivery .form-fields__row .form-field__checkbox label {
    white-space: nowrap;
  }
}

@media (max-width: 1120px) {
  .delivery .form-field__label[for=''] {
    display: none;
  }

  .delivery .form-items {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  .delivery .form-field {
    width: 100%;
  }

  .delivery .form-field__input {
    max-width: 100%;
  }
}
